* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
}

button {
  font-family: 'Work Sans', sans-serif;
}

path, i, svg {
  pointer-events: none;
}

.colours {
  min-height: 80vh;
  display: flex;
  color: ghostwhite;
}

.colour {
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}

.colour h2 {
  font-size: 2rem;
  cursor: pointer;
}

/* Sliders */

.sliders {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0%;
  background-color: white;
  color: black;
  text-align: center;
  padding: 1rem;
  width: 80%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  /* transform: translateY(100px); */
  transition: all 0.3s ease-in-out;
  /* pointer-events: none; */
  /* opacity: 0; */
}

.sliders.active {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: all;
}

.sliders button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
}

/* Controls */

.controls {
  display: flex;
  flex-direction: column;
}

.adjust, .lock {
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  margin: 1rem 0rem;
}

/* Panel */

.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
}

.panel button {
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.panel p {
  font-size: 1.2rem;
}

.library-panel, .refresh-panel, .save-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}